@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");

body {
  background-color: beige;
  font-family: "Roboto Mono", monospace;
  max-width: 1000;
  margin: auto;
}
